@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
body {
  background: rgb(32, 68, 116);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}
a {
  color: black;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#logo {
  transition: all 0.5s ease;

  // 10 letters, 11 children
  path:nth-child(2) {
    stroke-dasharray: 513px;
    stroke-dashoffset: 513px;
    animation: line-anim 0.8s ease forwards;
  }
  path:nth-child(3) {
    stroke-dasharray: 205px;
    stroke-dashoffset: 205px;
    animation: line-anim 0.8s ease forwards 0.3s;
  }
  path:nth-child(4) {
    stroke-dasharray: 454px;
    stroke-dashoffset: 454px;
    animation: line-anim 0.8s ease forwards 0.6s;
  }
  path:nth-child(5) {
    stroke-dasharray: 377px;
    stroke-dashoffset: 377px;
    animation: line-anim 0.8s ease forwards 0.9s;
  }
  path:nth-child(6) {
    stroke-dasharray: 209.5px;
    stroke-dashoffset: 209.5px;
    animation: line-anim 1s ease forwards 1.2s;
  }
  path:nth-child(7) {
    stroke-dasharray: 431px;
    stroke-dashoffset: 431px;
    animation: line-anim 1s ease forwards 1.5s;
  }
  path:nth-child(8) {
    stroke-dasharray: 567px;
    stroke-dashoffset: 567px;
    animation: line-anim 2s ease forwards 1.8s;
  }
  path:nth-child(9) {
    stroke-dasharray: 209.5px;
    stroke-dashoffset: 209.5px;
    animation: line-anim 0.8s ease forwards 2.1s;
  }
  path:nth-child(10) {
    stroke-dasharray: 289px;
    stroke-dashoffset: 289px;
    animation: line-anim 0.8s ease forwards 2.4s;
  }
  path:nth-child(11) {
    stroke-dasharray: 423px;
    stroke-dashoffset: 423px;
    animation: line-anim 0.8s ease forwards 2.7s;
  }

  g {
    path:nth-child(1) {
      stroke-dasharray: 748.7px;
      stroke-dashoffset: 748.7px;
      animation: line-anim 2s ease forwards 3s;
    }
    path:nth-child(2) {
      stroke-dasharray: 77.1px;
      stroke-dashoffset: 77.1px;
      animation: line-anim 1s ease forwards 3.3s;
    }
    path:nth-child(3) {
      stroke-dasharray: 200.4;
      stroke-dashoffset: 200.4px;
      animation: line-anim 1s ease forwards 3.6s;
    }
  }
}
#begin-btn {
  margin-top: 3rem;
  height: 10vh;
  width: 30vw;
  border-radius: 8px;
  opacity: 0;
  background: white;
  text-align: center;
  text-decoration: none;
  display: grid;
  align-items: center;
  p {
    font-size: 2.5rem;
  }
  &:hover {
    background: rgb(255, 255, 128);
  }
}
canvas {
  background: white;
  transition: all 0.5s linear;
  opacity: 0;
}
.canvas-box {
  transition: all 2s;
  height: 0px;
  width: 98vw;
  background: white;
}
.mobile-tablet {
  display: none;
}
.option {
  transition: all 0.5s;
  .box {
    text-align: center;
    height: 50px;
    width: 90px;
    display: none;
    position: absolute;
    background: #f2f2f2;
    cursor: pointer;
  }
  #color-box,
  #size-box {
    transition: all 0.5s;
  }
  .box-items {
    display: none;
    .item {
      padding: 1rem;
    }
    .sizes {
      border: solid 1px black;
    }
    .black {
      background: black;
    }
    .blue {
      background: blue;
    }
    .purple {
      background: purple;
    }
    .pink {
      background: pink;
    }
    .red {
      background: red;
    }
    .orange {
      background: orange;
    }
    .yellow {
      background: yellow;
    }
    .green {
      background: green;
    }
  }
}
.options-container {
  position: absolute;
}
.menu {
  opacity: 0;
  transition: all 0.5s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  padding: 0.5rem 0;
  background-color: rgb(32, 68, 116);
  & > * {
    margin: 1rem 0.8rem;
    height: 35px;
  }
  .button {
    padding: 0.5rem 0.75rem;
    color: #fff;
    outline: none;
    border: none;
    display: inline-block;
    cursor: pointer;
    align-self: center;
    text-decoration: none;
  }
  #save {
    background-color: #5ad75a;
  }
  #clear {
    background-color: #ff0000;
  }
}
#numChoice {
  display: none;
}
.menu-label {
  display: inline-flex;
  flex-direction: column;
  color: white;
  align-items: center;
  & label {
    margin-top: 0.1rem;
    text-align: center;
  }
}
.flex-menu {
  display: inline-flex;
  & > * {
    margin: 0 0.8rem;
  }
  .input-code {
    width: 100px;
  }
}
@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fillWhite {
  0% {
    fill: transparent;
  }
  100% {
    fill: white;
  }
}
@keyframes opac {
  to {
    opacity: 1;
  }
}
@keyframes heightUp {
  to {
    height: 84vh;
  }
}
@keyframes opacityFill {
  to {
    opacity: 0.8;
  }
}
